@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --border: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
